/*Some margin/color/font-size/font-type were extracted from google's site*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

body, a:visited{
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #222;
}

ul li{
  display:inline;
  margin: 5px;
}

a:hover{
  border-style: none;
  text-decoration: underline;
}
#ax{
  padding-right: 163px;
  color: #777;

}

#search-bar:active {
  border: transparent;
  
}

#country{
  padding: 0px 0px 0px 25px;
  color: rgba(0,0,0,.54);
  font-size-adjust: none

}



#f1{
  border-top: 1px solid #dadce0;
  padding-left: 18px;
}

#google-logo{
  margin-bottom: 30px;
}
#google-logo-im{
  margin-bottom: 30px;
  margin-left: 50px;
}

#header-properties{
  align-items: center;
  justify-content: flex-end;
  padding: 0px 20px 0px 0px;
  user-select: none;
}

#header-properties-as{
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 0px;
  user-select: none;
  background-color: #f1f1f1;
}

#lucky-button{
  width: 142.5px;
  grid-row: 2/3;
  grid-column: 2/3;
}

#main-part{
 margin-bottom: 150px;
}
#mag-glass{
  margin-right: 5px;
  border:transparent;
  outline:0;
  
}

#mic{
  margin-left: 10px;
}

#search-field-style{
  border:transparent;
  outline:0;
  margin-bottom: 5px;
  font-size: medium;
  padding-left: 5px;
  height: 25px;
  width: 487px;
  margin-bottom: auto;
  padding-bottom: 5px;

}

#sec1{
  padding-right: 18px;
}

#sb{
  width: 120px;
  height: 36px;
  padding: 2px;
  background-color: #4d90fe;
  border: transparent;
  color: white;
  text-decoration: none;
  margin: 10px;
  margin-left: 650px;

}

#sib{
  width: 120px;
  height: 36px;
  padding: 9px 23px 9px 23px;
  background-color: #1a73e8;
  border: transparent;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
#text{
  position: relative;
  float: unset;
  color:#4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif;
  left: -60px;
  top: -7px;
}


.body-advanced-search{
  justify-content: flex-start;
  flex-direction: column;
  align-items: left;
}

.body-search{
  justify-content:center;
  flex-direction: column;
  align-items: center;
}

.body1{
  
  margin-top: 15px;
  padding-left: 20px;
  color: rgb(182, 28, 28);
  font-size: larger;
  height: 5vh;
  border-bottom: solid gainsboro 0.5px;


}

.button{
  margin: 11px 4px 11px 4px;
  padding: 0px 16px 0px 16px;
  height: 36px;
  width: 127.406px;
  border: solid transparent 1px;
  background-color: #f8f9fa;
}

.button-layout{
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}

.did{
  margin: 20px;
  height: 50px;
  width: 1200px;
  display:flex;
  justify-content: space-between;
  font-size: large;
}
.grid-container{
  display:grid;
  grid-template-rows: 6vh 84vh 5vh 5vh; 

}

.flex-container{
  display:flex;
}


.footers{
  background-color: #f2f2f2;
  color:rgba(0,0,0,.54);
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  user-select: none;
}

.logo-adv{
  padding-left: 20px;
}

.search-bar{
  height: 44px;
  display:flex;
  justify-content: start;
  width: 582px;
  border-radius: 22px;
  border: 0.5px solid gainsboro;
  padding: 10px 10px 10px 20px;
  outline: 0;
}



.tx{
  height: 50px;
  width:400px;  
}

.zearch{
  height: 25px;
  padding: 1px 8px;
  width: 300px;  
  border: 1px solid #d9d9d9;
}



/*Just testing/learning a little bit about media queries*/
@media only screen and (max-width: 950px){
  .grid-container{
    grid-template-rows: 10vh 120vh 10vh 10vh;
  }
  #main-part{
    margin-bottom: 20px;
   }
}

@media only screen and (max-width: 500px){

  #header-properties{
    margin-bottom: 20px;
  }

  #main-part{
    margin-bottom: 20px;
   }
   
   #search-field-style{
    font-size: xx-small;
    height: 12px;
    width: 230px;
    margin-bottom: auto;
    padding-bottom: 2px;
  
  }
   .grid-container{
    grid-template-rows: 30vh 120vh 50vh 50vh;
  }

   .search-bar{
    height: 30px;
    display:flex;
    justify-content: start;
    width: 300px;
    border-radius: 22px;
    border: 0.5px solid gainsboro;
    padding: 10px 10px 10px 20px;
    outline: 0;
  }

}