/*Some margin/color/font-size/font-type were extracted from google's site itself*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

body, a:visited{
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #222;
}

ul li{
  display:inline;
  margin: 5px;
}

a:hover{
  border-style: none;
  text-decoration: underline;
}

#search-bar:active {
  border: transparent;
  
}

#country{
  padding: 0px 0px 0px 25px;
  color: rgba(0,0,0,.54);
  font-size-adjust: none

}

#f1{
  border-top: 1px solid #dadce0;
  padding-left: 18px;
}

#google-logo{
  margin-bottom: 30px;
}

#header-properties{
  align-items: center;
  justify-content: flex-end;
  padding: 0px 20px 0px 0px;
  user-select: none;
}

#lucky-button{
  width: 142.5px;
  grid-row: 2/3;
  grid-column: 2/3;
}

#main-part{
 margin-bottom: 150px;
}
#mag-glass{
  margin-right: 5px;
  
}

#search-field-style{
  border:transparent;
  outline:0;
  margin-bottom: 5px;
  font-size: medium;
  padding-left: 5px;
  height: 25px;
  width: 487px;
  margin-bottom: auto;

}

#sec1{
  padding-right: 18px;
}

#sib{
  width: 120px;
  height: 36px;
  padding: 9px 23px 9px 23px;
  background-color: #1a73e8;
  border: transparent;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.body-search{
  justify-content:center;
  flex-direction: column;
  align-items: center;
}

.button{
  margin: 11px 4px 11px 4px;
  padding: 0px 16px 0px 16px;
  height: 36px;
  width: 127.406px;
  border: solid transparent 1px;
  background-color: #f8f9fa;
}

.button-layout{
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}

.grid-container{
  display:grid;
  grid-template-rows: 6vh 84vh 5vh 5vh; 

}

.flex-container{
  display:flex;
}


.footers{
  background-color: #f2f2f2;
  color:rgba(0,0,0,.54);
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  user-select: none;

}

.search-bar{
  height: 44px;
  display:flex;
  justify-content: start;
  width: 582px;
  border-radius: 22px;
  border: 0.5px solid gainsboro;
  padding: 10px 10px 10px 20px;
  outline: 0;
}

@media only screen and (max-width: 480px){

}